[Unit]
Description=iCloud Homie
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/icloud_homie_start.py
Restart=on-abort

[Install]
WantedBy=multi-user.target

